<html>
   <body>
      <form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <label for="image">Image</label>
	        <input type="file" name="image" accept="image/*" >
            <br />
            <label for="soilMoisture">SoilMoisture %:</label>
            <input type="text" id="soilMoisture" name="soilMoisture" placeholder="Enter soil moisture here" />
            <br />
            <label for="relHumidity">Relative Humidity %:</label>
            <input type="text" id="" name="relHumidity" placeholder="Enter the relative humidity here" /> 
            <br />
            <label for="colour">colour:</label>
            <input type="text" id="" name="colour" placeholder="Enter the colour here as hex, #000000" /> 
            <br />
            <label for="lightLuxLevel">Light Lux Level (lux):</label>
            <input type="text" id="" name="lightLuxLevel" placeholder="Enter the light level here" /> 
            <br />
            <label for="temperature">Temperature C:</label>
            <input type="text" id="" name="temperature" placeholder="Enter the temperature here" /> 
            <br />
            <label for="deviceID">DeviceID</label>
            <input type="text" id="" name="deviceID" placeholder="Enter the device ID here." /> 
            <br />
            <input type="submit" value="Submit to server." />
         </fieldset>
      </form>
   </body>
</html>
