<html>
   <body>
      <form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <label >Score 0</label>
            <input type="text" id="" name="score0" placeholder="Enter the score here" /> 
            <br />
            <label >Score 1</label>
            <input type="text" id="" name="score1" placeholder="Enter the score here" /> 
            <br />
            <label >Score 2</label>
            <input type="text" id="" name="score2" placeholder="Enter the score here" /> 
            <br />
            <label >Score 3</label>
            <input type="text" id="" name="score3" placeholder="Enter the score here" /> 
            <br />
            <label >Score 4</label>
            <input type="text" id="" name="score4" placeholder="Enter the score here" /> 
            <br />
            <label >UserID</label>
            <input type="text" id="" name="userID" placeholder="Enter the user ID here." /> 
            <br />
            <input type="submit" value="Submit to server." />
         </fieldset>
      </form>
   </body>
</html>
