<!DOCTYPE html>
<html>
    <head>
        <title>Urban Farming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" type="text/css" href="public/index.css" />
        <link rel="shortcut icon" type="image/x-icon" href='public/files/flower.ico' />
    </head>

    <body>
        <div id="heading">
            <img id="logo"  src="public/files/flower.gif" alt="logo"/>
        </div>
        <hr/>
        <div id="who">
            <h2>Who?</h2>
            <p>Based at the Edinburgh Centre for Carbon Innovation, Urban Farming Company is a social start-up applying design thinking and emerging technology to enhance children’s awareness of the benefits of fresh food using their digital knowledge and prowess.</p>

            <img id="jason" alt="jason"  src="public/files/scotsman_article.jpg">
            <a href="http://www.scotsman.com/news/scots-start-up-aims-to-root-out-obesity-with-table-farm-1-4209187">Hear what the press are saying</a>
        </div>
        <hr/>                
        <div id="what">
            <h2>What?</h2>
            <p>TableFarm is a fully integrated physical plant growing incubator for children utilising digital technology to gamify the process of growing. It bridges the digital-physical divide as an internet-of-things plant growing incubator using  an accompanying software/app platform designed for social media integration and remote operation. 
            </p>
            <p>
            Conceived as a Tamagotchi-like device for real living plants, it uses an interactive gamified growing experience via smart phone, laptop or electronic tablet - enabling the cultivation of edible plants within the home and classroom.</p>
        </div>
        <hr/>
        <div id="how">
            <h2>How?</h2>
            <p >A seamless interaction between software and hardware. The TableFarm gameplay aims to make use of numerous real-time sensors and plant care opportunities. Children will be rewarded in-game for their plant progress and vice versa. 

            Watch this space...</p>
            <img id="motivation" src="public/files/getMotivated.jpg" alt="motivation"/>
        </div>
        <div id="table">
            <h2>It's alive!</h2>
            </p>
            <b>Gamifying plant cultivation: (work in progress):</b>

            <p>TableFarm®'s Green-Finger Score is live real-world plant data for our star plant called Minty MacMintface.<p>
            <p>Our TableFarm test-rig monitors key environmental conditions and Minty's growth using innovative computer vision software to assess the quantity and quality of 'green' in the image below and reward points appropriately.</p>

            <div id="ajaxDiv">
                {{content}}
            </div>
            <hr />
            <div id="chartdiv">
                <iframe scrolling="no" src="chart"> </iframe>
            </div>
        </div>
        <div id="why">
            <h2>Why?</h2>
            <p>
            In our age of virtual existences and on-line experiences the digital skills and confidence of young children using a tablet, laptop or smart phone is truly impressive...but you'll be truly shocked if you question them about where their food comes from.
            </p>
            <div id="stats">
                <h3 >In a recent food survey of 2,000 children</h3>
                <p id="leaf">Sustainable food and farming organisation Linking Environment and Farming (Leaf)</p> 
                <ul>
                    <li><h3>28%</h3> <h3> didn't know that carrots grow underground. </h3></li> 
                    <li><h3>60%</h3> <h3> admitted they didn't know lettuce grew on the ground.</h3></li>              
                    <li><h3>78%</h3> <h3> didn't know broccoli grew on a plant.</h3></li>  
                    <li><h3>5%</h3>  <h3> believe strawberries grow inside the fridge. </h3></li>  
                </ul>
            </div>
        </div>
        <div id="imagespot">
            <img src="public/files/child.jpg"     alt="child"/>
            <img src="public/files/strawberry.jpg" alt="strawberry" /> 
        </div>

        <div id="challenge">
            <h3> Key challenge:</h3>
            <p> How can we develop our children's awareness of the benefits of fresh food using their digital knowledge? </p>
        </div>
        <hr/>
        <div id="partners">
            <h2>Partners</h2>

            <p>Click on a logo for more information</p>
            <div id="logos_div">
                <div onclick="showuoe()" class="img unselected">
                    <img onclick="showuoe()"    class="unselected" id="uoe-logo" src="public/files/uoe-logo.jpg"/>
                </div class="img">
                <div onclick="showuos()" class="img unselected">
                    <img onclick="showuos()"    class="unselected"  id="uos-logo" src="public/files/uos-logo.jpg"/>
                </div class="img">
                <div onclick="showdia()" class="img unselected">
                    <img onclick="showdia()"    class="unselected" id="dia-logo" src="public/files/designInAction-logo.jpg"/>
                </div class="img">
                <div onclick="showuoa()" class="img unselected">
                    <img onclick="showuoa()"    class="unselected" id="uoa-logo" src="public/files/abertay-logo.jpg"/>
                </div>
                <div onclick="showecci()"  class="img unselected">
                    <img onclick="showecci()"   class="unselected" id="ecci-logo" src="public/files/ecci-logo.jpg"/>
                </div class="img">
                <div onclick="showcensis()" class="img unselected">
                    <img onclick="showcensis()" class="unselected" id="censis-logo" src="public/files/censis-logo.jpg"/>
                </div>
            </div>
            <div id="uoe" class="unselected" >
                <h3>University of Edinburgh:</h3>
                <p>
                Research collaboration with the Institute of Molecular Plant Sciences (Dr. Alistair McCormick, SynthSys). Exploring the affect of lighting quality on optimal plant growth. 
                </p>
                <p>Working with Andrei Dobrescu (Institute of Digital Communications) to develop TableFarm's computer vision and machine learning aspects.
                </p>
                <img src="public/files/growRig1.jpg"/>
                <img src="public/files/growRig2.jpg"/>
                <a  target="_blank"  href="http://www.ed.ac.uk/biology/molecular-plant-sciences">Website</a>
            </div>
            <div id="uos"  class="unselected"> 
                <h3>University of Strathclyde:</h3>
                <p>
                An exciting IAA funded partnership with the Lighting Innovation Centre. Working with Dr James Irvine (Electronic & Electrical Engineering) and Prof.  Robert Martin (Vice-Dean (Research) Science, Department of Physics). Design and development of LED lighting for TableFarm prototype Grow Rigs. The Grow Rigs are currently being used for plant phenotype research and as an experimental educational tool for an Advanced Higher Biology course for a school near Glasgow.
                </p>
                <div id="strathclyde_photos">
                    <div>
                        <img src="public/files/lightArray.jpg"/>
                    </div>
                    <div>
                        <img src="public/files/makingLightingRigP.jpg"/>
                    </div>
                    <div>
                        <img src="public/files/website.jpg"/>
                    </div>
                </div>
                <a target="_blank" href="http://www.strath.ac.uk/intelligentlightingcentre/">Website</a>
            </div>
            <div class="unselected" id="censis">
                <h3>Censis:</h3>
                <p>
                Centre of excellence for Sensor and Imaging Systems (SIS). Providing valuable leading industry innovations and access to world-class research. TableFarm benefits from CENSIS' in-house IoT Centre providing rapid prototyping support accelerating concept to full-spectrum sensor hardware prototype working prototype.
                </p>
                <img src="public/files/censis.jpg"/>
                <a  target="_blank" href="http://censis.org.uk/cddc">Website</a>
            </div>
            <div id="uoa" class="unselected" >
                <h3>University of Abertay:</h3>
                <p>
                World-class interface and gamification collaboration with the renounced departments of Computational Modelling & Visualization, School of Arts, Media and Computer Games. Working collaboration with student team developing design narrative, code and user experiences related to TableFarm's digital experience

                </p>
                <a target="_blank" href="">Website</a> 
            </div>
            <div id="dia" class="unselected" >
                <h3>Design in Action:</h3>
                <p>
                Urban Farming Company benefited from Design in Action's seed funding and strategic mentoring as part of their  Art and Humanities Research Council-funded Knowledge Exchange Hub for the Creative Economy. The innovative 2014 Design Chiasma offered a superb commercial and creative grounding via thier residential collaborative workshop,

                </p>
                <img src="public/files/dia.jpg"/>
                <a target="_blank" href="">Website</a> 
            </div>
            <div id="ecci" class="unselected">
                <h3>Edinburgh Centre for Carbon Innovation:</h3>
                <p> UK's leading hub for low carbon innovation - helping to shape a low carbon future. The ECCI's Low Carbon Ideas Lab provides support, mentoring and world class accommodation for Urban Farming Company's inspirational ideas that seek to progress Scotland towards a low carbon economy.
                </p>
                <img src="public/files/ecci.jpg"/>
                <a target="_blank" href="http://edinburghcentre.org/Ideas-Lab.html">Website</a> 
            </div>
        </div>
        <hr/>
        <script>
function displayNone(){
    document.getElementById('censis').className="unselected";
    document.getElementById('ecci').className="unselected";
    document.getElementById('uoe').className="unselected";
    document.getElementById('uos').className="unselected";
    document.getElementById('dia').className="unselected";
    document.getElementById('uoa').className="unselected";

    document.getElementById('censis-logo').parentNode.className="img unselected";
    document.getElementById('ecci-logo').parentNode.className="img unselected";
    document.getElementById('uoe-logo').parentNode.className="img unselected";
    document.getElementById('uos-logo').parentNode.className="img unselected";
    document.getElementById('dia-logo').parentNode.className="img unselected";
    document.getElementById('uoa-logo').parentNode.className="img unselected";
}
function showuoa(){
    displayNone();
    document.getElementById('uoa').className="selected";
    document.getElementById('uoa-logo').parentNode.className="img selected";
}
function showdia(){
    displayNone();
    document.getElementById('dia-logo').parentNode.className="img selected";
    document.getElementById('dia').className="selected";

}
function showuos(){
    displayNone();
    document.getElementById('uos-logo').parentNode.className="img selected";
    document.getElementById('uos').className="selected";

}
function showecci(){
    displayNone();
    document.getElementById('ecci-logo').parentNode.className="img selected";
    document.getElementById('ecci').className="selected";
}
function showcensis(){
    displayNone();
    document.getElementById('censis-logo').parentNode.className="img selected";
    document.getElementById('censis').className="selected";
}
function showuoe(){
    displayNone();
    document.getElementById('uoe-logo').parentNode.className="img selected";
    document.getElementById('uoe').className="selected";
}
        </script>
        <div id="mail">
            <form method="post" action="https://ymlp.com/subscribe.php?id=gwbuqjhgmgj">
                <table id="mail">
                    <tbody>
                        <tr>
                            <td colspan="3">Sign up for more inspiring photos, stories and special offers from<br/> Urban Farming Company:</td>
                        </tr>
                        <tr>
                            <td>Name:</td><td valign="top"><input type="text" name="YMP1"/><td>
                        </tr>
                        <tr>
                            <td>Email:</td> <td> <input name="YMP0"  type="text" /></td>
                        </tr>
                        <tr>
                            <td colspan="3" > <input value="Submit" type="submit"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div id="blogs">
                <hr/>
                <center>
                    <div class="tumblr-container"> 
                        <iframe width=100 height=100 frameborder="0" src="https://embed.tumblr.com/embed/post/ITqOd_fdPc9KCpJFLONryg/150124570829?width=542&language=en_US&did=a28c539f006edaeba5067d389b6cd834175a4782a"> </iframe>
                    </div>
                </center>
            </div>
        </div>
        <script type='text/javascript' src="scripts/makeJasonChangeSize.js/"> </script>

        <script language="javascript" type="text/javascript" src="scripts/ajaxify.js/"> </script>
        <script src="scripts/google_analyitics.js/"></script>
    </body>
</html>
