<!DOCTYPE html>
<html>
    <head>
        <title>Urban Farming</title>
        <meta name="twitter:widgets:theme" content="light">
        <meta name="twitter:widgets:link-color" content="#55acee">
        <meta name="twitter:widgets:border-color" content="#55acee">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../public/index.css" />
        <link rel="shortcut icon" type="image/x-icon" href='../public/files/flower.ico' />
    </head>
    <body >
        <a href="http://tablefarm.co.uk"><img id="logo"  src="../public/files/flower.gif" alt="logo" ></a> 
        <hr/>
        {{content}}
    </body>

</html>
