<html>

    <%-include header %>

    <img src=<%- left -%> />
    <img src=<%- right -%> />
    <img src=<%- disparity -%> />
    <div id="3dhop" class="tdhop" onmousedown="if (event.preventDefault) event.preventDefault()">
        <canvas id="draw-canvas" style="background-color: yellow"/>
    </div>

    <!--STYLESHEET-->
    <!--SPIDERGL-->
    <script type="text/javascript" src="../scripts/spidergl.js"></script>
    <!--JQUERY-->
    <script type="text/javascript" src="../scripts/jquery.js"></script>
    <!--PRESENTER-->
    <script type="text/javascript" src="../scripts/presenter.js"></script>
    <!--3D MODELS LOADING AND RENDERING-->
    <script type="text/javascript" src="../scripts/nexus.js"></script>
    <script type="text/javascript" src="../scripts/ply.js"></script>
    <!--TRACKBALLS-->
    <script type="text/javascript" src="../scripts/trackball_sphere.js"></script>
    <script type="text/javascript" src="../scripts/trackball_turntable.js"></script>
    <script type="text/javascript" src="../scripts/trackball_turntable_pan.js"></script>
    <script type="text/javascript" src="../scripts/trackball_pantilt.js"></script>
    <!--UTILITY-->
    <script type="text/javascript" src="../scripts/init.js"></script>

    <script>

var presenter = null;

function setup3dhop() {
    presenter = new Presenter("draw-canvas");

    presenter.setScene({
        meshes: {
            "plant": {
                url: <%-model-%>
            }
        },
        modelInstances: {
            "Model1": {
                mesh: "plant"
            }
        }
    });
}
$(document).ready(function(){
    init3dhop();

    setup3dhop();
});

    </script>


