<html>
    <head>

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title><%- title -%></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script async type="text/javascript" src="../scripts/playfab.js"> </script>
        <script src="https://download.playfab.com/PlayFabClientApi.js"></script>
        <% include header %>
    </head>
    <body>

        <style>
:required{
    color:red;
    padding-right:10px;
    border-style:solid;
}
:valid{
    color:green;
}
:invalid{
    color:red;
}
    #form{
        padding-right:15%;
    }
    button:valid,
    button:invalid{
        color:black;
    }
    label, p{
        float:right;
        display:block;
        text-align:right;
    }
    p{
        font-size:0.5em;
        width:100%;
        margin:-10px;
    }
    .col-xs-8{
        width:60%;
    }
    input, select{
        float:left;
    }
    body{
        margin: 1%;
    }
        </style>
        <h1>Register!</h1>

        <div id="form">
        <div class="row">
            <div class="col-xs-8">

                <label for="email">Your email</label>
            </div>
            <div class="col-xs-4">
                <input required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" type="text" id="email" accept="text" placeholder="somebody@example.com" title="please enter a valid email address."/>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-8">

                <label for="type">are you a: </label>
            </div>
            <div class="col-xs-4">
                <select  required  id="type">
                    <option invalid selected disabled value="">Please choose</option>
                    <option value="Teacher"> Teacher</option>
                    <option value="Parent">Parent</option>
                    <option value="Child">Child</option>

                </select>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-8">
                <label for="displayname">Your Name</label>
                <p>This will be your display name.</p>
            </div>
            <div class="col-xs-4">
                <input type="text" id="displayname" accept="text" placeholder="Karen"/>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-8">
                <label  required for="username">Your username</label>
                <p>This will be the name you log in with.</p>
            </div>
            <div class="col-xs-4">
                <input type="text" required id="username" accept="text" pattern=".{6,20}" title="The username must be between 6 and 20 characters." placeholder="Karen"/>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-8">
                <label for="password">Enter a new password</label>

            </div>
            <div class="col-xs-4">
                <input title="passwords must be between 6 and 100 characters" required pattern=".{6,}"  type="password"  required id="password" accept="text" placeholder=""/>
                <i>unmask</i>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <label for="deviceid">Please enter your tablefarm device id</label>
            </div>
            <div class="col-xs-4">
                <input type="integer" id="deviceid" accept="text" placeholder="1"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <label for="plantspecies">Please enter your plant species - ie. mint</label>
            </div>
            <div class="col-xs-4">
                <input type="text" id="plantspecies" accept="text" placeholder="mint"  />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <label for="plantname">Please enter your plant name - ie. Minty MacMintface</label>
            </div>
            <div class="col-xs-4">
                <input type="text" id="plantname" accept="text" placeholder="Minty MacMintface" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <a href="../login">Already have an account? </a>
            </div>
            <div class="col-xs-4">
                <button type="submit" id="submitReg" value="Submit to server." >Submit</button>
            </div>
        </div>
        </div>
    <script>
function a(){
            $("#password")[0].type = "text";
}
function b(){
            $("#password")[0].type = "password";
}
        $("i").hover(a, b);
        $("#logo").width(100);
    </script>
    </body>
</html>
