<html>
    <head>
        <title><%- title -%></title>
        <% include header %>
    </head>
   <body>
      <form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <label for="image">Left</label>
	        <input type="file" name="left" accept="image/*" >
            <br />
            <label for="Right">Right</label>
	        <input type="file" name="right" accept="image/*" >
            <br />
            <input type="submit" value="Submit to server." />
         </fieldset>
      </form>
   </body>
</html>
