<html>
    <head>
        <title><%- title -%></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://download.playfab.com/PlayFabClientApi.js"></script>
        <script type="text/javascript" src="../scripts/playfab.js"> </script>
        <% include header %>
    </head>
   <body>
       <h1>Welcome <%- user -%>!</h1>
        

       <hr/>
       <h2>Game</h2>
       <%- game -%>

       <hr/>

       <h2>Your Plant</h2>
       <h3>Table</h3>
       <% include liveData %>
       <h3>Chart</h3>
       <p> Chart. </p>
     
       <hr/>
   </body>
</html>
