<!DOCTYPE html>
<html>
    <head>
        <title>Urban Farming</title>
        <meta name=viewport content=width=device-width, initial-scale=1.0>
        <meta http-equiv=Content-Type content=text/html;charset=utf-8>
        <link rel=stylesheet href=../public/index.css />
        <link rel=shortcut icon type=image/x-icon href='../public/files/flower.ico' />
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body>

        <style>
img{
    width:100px;
}
        </style>

        <table id='view'>
            <tr>
                <th>Image</th>  <th>date</th> <th>time</th> <th>light lux level</th><th>Green score</th> <th>soilMoisture</th> <th>relative Humidity</th> <th>temperature</th> <th>Colour</th> <th> delete </th>
            </tr>
            <% for(var i=0; i < roows.length; i++) { %>

            <tr> 
                <td><img src='../img?x=<%- roows[i].id %>' /></td> 
                <td id='date' > <%- roows[i].date %>  </td>
                <td> <%- roows[i].time %>             </td>
                <td> <%- roows[i].lightluxlevel %> lux</td>
                <td> <%- roows[i].greenscore %></td>
                <td> <%- roows[i].soilmoisture %>%    </td>
                <td> <%- roows[i].relhumidity %>%     </td>
                <td> <%- roows[i].temperature %> C    </td>
                <td bgcolor= <%- roows[i].colour %>>   </td>
                <td> <button class="delete" id=<%- roows[i].id%> >Delete</button>  </td>
            </tr>
            <% } %>
            <script>
$(".delete").click(function (){
    pass = prompt("please enter the secret delete images key");
    var id = $(this).attr("id");
    var url = "../remove?x="+id.toString()+"&y="+pass;
    console.log(url);
    var jqxhr = $.getJSON(url ,function(data){
        console.log(data);
        status = data.Status;
        alert("done. \n" + status);
    });

})
            </script>
    </body>
</html>
