<!DOCTYPE html>
<html>
    <head>
        <title>Urban Farming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" href="../public/index.css" />
        <link rel="shortcut icon" type="image/x-icon" href='../public/files/flower.ico' />
    </head>
    <body>
        <script language="javascript" type="text/javascript">
<!-- 
//Browser Support Code
function ajaxFunction(){
    var ajaxRequest;  // The variable that makes Ajax possible!
    try{

        // Opera 8.0+, Firefox, Safari
        ajaxRequest = new XMLHttpRequest();
    }catch (e){

        // Internet Explorer Browsers
        try{
            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
        }catch (e) {

            try{
                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
            }catch (e){

                // Something went wrong
                alert("Your browser broke!");
                return false;
            }
        }
    }

    // Create a function that will receive data
    // sent from the server and will update
    // div section in the same page.
    ajaxRequest.onreadystatechange = function(){

        if(ajaxRequest.readyState == 4){
            var ajaxDisplay = document.getElementById('ajaxDiv');
            console.log("4");
            ajaxDisplay.innerHTML = ajaxRequest.responseText;
            console.log(ajaxRequest.responseText);
        }
    }

    console.log("hi");
    ajaxRequest.open("GET", "/urbanfarming/viewcontent?x=10");
    ajaxRequest.send();}
    setTimeout(function(){ ajaxFunction(); }, 20);

    //-->
        </script>
        <img id="logo"  src="../public/files/flower.gif" >
        <hr/>
        <div id="ajaxDiv">
            {{content}}
        </div>
    </body>
</html>
