ul{
    list-style-type: none;
    padding-left:0em;
}

body {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    text-align:center;
    font-size: 16pt;
    margin:0 15%;
    color: #404040;
}

h2{
    color:#ff9933;
}

img {
    height:auto;
    width:15%; 
}

div {
    vertical-align:top;
    width:100%;
    display:block;
}
div#imagespot img{
    margin:2%;
    width:auto;
}
img#jason {
    vertical-align:top;
}
img#motivation{
    width:50%;
}

p {
    color: #404040;
    width: 80%;
    margin:0 auto;
    font-size:1em ;
}
div#partners>p:first-child{
    font-size:0.85% ;
    margin-bottom:-1%;
}
p#leaf{
    font-size:0.85em ;
    margin-bottom:-1em;
}
div#partners h2,
h3{
    margin-bottom:-0.2em;
    font-size:1.5em ;
}

div#stats li>h3:last-child{
    display:inline;
    white-space:pre-wrap;
}
div#stats li>h3:first-child{
    color: #ff9933;
    font-size:3em ;
    display:inline;
}

div#partners img{
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    padding: 2%;
    max-width: 157px;
    height: auto;
}
div#partners>div#uoe img{
    display:inline-block;
    vertical-align:middle;
    padding: 2%;
    width: 40%;
    height:auto;
    max-width: unset;
}

div#partners>div#uos img{
    display:inline-block;
    vertical-align:middle;
    padding: 2%;
    height: 150px;
    width: auto;
}

table{
    margin:0  auto;
}

table[id^="data"] th{
    text-align:right;
    width:50%;
}
table[id^="data"] img {
    width:100px;

}
table[id^="data"] td{
    text-align:left;
    width:50%;
}
table#view,
table#view th,
table#view td{
    width:auto;
    border: 1px solid black;
}
table#mail{
    padding:3%;
    margin-bottom:3%;
    width:auto;
    height:163px;
    background-color:#f2f2f2;
    border:"0";
    /* cellpadding:"5"; */
    border-spacing:"0";
    text-align:center;
    font-size: 0.9em;
}

table#mail tr:last-child td{
    vertical-align:top;
    text-align:right;
}

table#mail tr:last-child td:last-child{
    text-align:center;
}
table#mail tr:last-child td:first-child{
}

input[name="YMP0"]{
    width:100%;
}
input[name="YMP1"]{
    width:100%;
}
input[value="Submit"]{
    background-color:#ffcc00;
    margin: 0 auto;
    color: #000000;
    font-size:0.9em;
    font-family: Calibri;
}

.tumblr-container {
    /*position: relative;
     *     padding-bottom: 75%;
     *         padding-top:30px;
     *             height:0;
     *                 overflow: auto !important;
     *                     -webkit-overflow-scrolling:touch;
     *                         text-align:center;
     *                             */
    width:480px;
    height:500px;
}

.tumblr-container iframe{
    /*position: absolute;
     *     top:0;
     *         left:0;
     *             width:100px;
     *                 display:inline-block;
     *                     height:100%;
     *                         */
    width:100%;
    height:100%;
}


@media only screen and (max-width:480px){
    body {
        font-size:10pt ;
    }
    img#logo{
        width:80%;
    }
    img#jason{
        width:20%;
    }
    img#motivation{
        width:90%;
        height:100%;
    }
    p {
        width: 90%;
        font-size:1em;
        margin:0 auto;

    }
    table#data {
        width:100%;
        margin:0em auto;
    }
    table#data th{
        text-align:right;
        font-size:75%;
    }
    table#data td{
        text-align:left;
        font-size:80%;
    }
    div#imagespot img{
        width:40%;
    }
    table#data img{
        width:50px;
    }
    table#mail td{
        text-align:center;
    }
    div#stats li>h3:first-child {
        color:#ff9933;
        font-size:1.5em ;
    }
    div#stats h3 {
        font-size:130% ;
        margin-bottom:0em;
    }
    div#stats p{
        font-size:0.7em ;
        margin-bottom: 0em;
    }
    /*a is bigger than paragraph
    reduce margin size
    increase the leaf
    the stats should be over one line.
    review the mail box
     */
}
