
ul
{
    list-style-type: none;
}

body {
    font-family: Calibri;
    font-size: 1vw;
    margin:0 5%;
    font-color: #404040;

}
div {
    vertical-align:top;
    width:100%;
}


div#heading > img,h1 {
   
    font-size: 2vw;
}

p {

    font-size:1vw;
    width:49%;
}
div#table>table>th{
    text-align:right;
}

div#table>table>td{
    text-align:right;
}
div#text>img{
    width:75%;
}

