body {
    font-family: calibri, sans-serif;
    font-size: 1vw;
    margin:0 5%;

}
div {
    vertical-align:top;
    display:inline-block;
    width:100%;
}
div#heading {
    display: inline-block;
    vertical-align:top;

}
div#imagespot {
    display: inline-block;
    vertical-align:top;
}
div#information{
    vertical-align:top;
    display: inline-block;
}


div#heading > img,h1 {
    vertical-align:top;
    display: inline-block;
    font-size: 2vw;
}

div#text {

    font-size:1vw;
    width:49%;
    vertical-align:top; 
    display: inline-block;
}
div#table{
    width:49%;
    vertical-align:top; 
    display: inline-block;
}
div#text>img{
    width:75%;
}

