<!DOCTYPE html>
<html>
    <head>
        <title>Urban Farming Company</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" href="index.css" />
        <link rel="shortcut icon" type="image/x-icon" href='files/flower.ico' />
    </head>
    <body>
        <div id="heading">

            <h1 height=100% width=50% >Urban Farming</h1>

            <img src="flower.gif" height=90vh width=90vw>
        </div>
        <script type="text/javascript" src="https://signup.ymlp.com/signup.js?id=gwbuqjhgmgj"></script>
	    {{body}}
            <div id="table">
                <h3>Live plant grow data</h3>
                <table>
                    <tr>
                        {{content}}
                    </tr>
                </table>
            </div>
        </div>
    </body>

</html>
